// Variables
@background-color: #eee;
@font-family: Tahoma;
@primary-color: #3b5998;
@secondary-color: #20b2aa;
@line-height: 1rem + 1rem;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: @font-family;
}

body {
    background: @background-color;
    line-height: @line-height;
}

h1,
h3 {
    .bordered;
}

.primary-text {
    color: @primary-color;
}

.btn {
    padding: 10px 15px;
    border: 0;
    .border-radius(10px);
}

.primary-btn:extend(.btn) {
    background: @primary-color;
    color: #fff;
}

ul#menu {
    list-style: none;

    li {
        padding: 10px 0;

        a {
            color: @secondary-color;
            text-decoration: none;

            &:hover {
                color: #000;
            }
        }
    }
}

.border-radius(@radius) {
    border-radius: @radius;
}

.bordered {
    border-top: 1px dotted #000;
    border-bottom: 2px solid #000;
}
